@page
@model ECommerceWeb.Pages.Shared.DeliveryInformationModel
@{
}
<!-- Carousel Wrapper -->
<div class="container">
    <!-- Carousel Inner -->
    @* <h1>@Model. DeliveryInformationPage.PageName</h1> *@

    @Html.Raw(Model.DeliveryInformationPage.PageContent)
</div>