@page
@model ECommerceWeb.Pages.Shared.OrderTrackingModel
@{
}
<!-- Carousel Wrapper -->
<div class="container">
    <!-- Carousel Inner -->
    @* <h1>@Model. OrderTrackingPage.PageName</h1> *@

    @Html.Raw(Model.OrderTrackingPage.PageContent)
</div>