@page
@model ECommerceWeb.Pages.DynamicPageModel
@{
}
<!-- Carousel Wrapper --> 
<div class="container">
    <!-- Carousel Inner -->
   @*  <h1>@Model.CustomerServicedynamicPage.PageName</h1> *@

    @Html.Raw(Model.CustomerServicedynamicPage.PageContent)
</div>
